{%extends 'netmedsapp/base.html'%}


{%block title%}
<title>Netmedical</title>
{% endblock %}


{% block body %}
<div class="medicinegrid">
    {% for query in queryset %}

    <div class="card" style="width: 18rem; height: auto px;">
        <a href="{% url 'single_medicine' query.name %}"><img class="card-img-top" src="{{query.image.url}}"
                style="width:100%; height: 100%;" alt="Card image cap">
            <div class="card-body">

                <h2 style="font-size: larger;">{{query.name}}</h2>
        </a>
        <p class="card-text">{{query.description}}</p>
        <p>Manufacturer: {{query.manufaturer}}</p>
        <p>Price : Rs {{query.price}}</p>

        {% if user.is_authenticated %}
        <button type="button" class="btn btn-outline-success cart_button" data-medicine="{{query.name}}" >Add To
            Cart</button>
        {% endif %}
    </div>
</div>

{% endfor %}
</div>
{% endblock %}